<div class="pokedex">
  <div class="left-panel">
    <div class="pokemon-card">
      <app-pokemon-card [pokemon]="pokemon" [shiny]="shiny"></app-pokemon-card>
    </div>
    <button class="shiny-toggle" (click)="toggleShiny()">Shiny</button>
    <div class="description">
      {{ pokemon?.description }}
    </div>
  </div>
  <div class="right-panel">
    <div class="stats">
      <app-pokemon-stats [pokemon]="pokemon"></app-pokemon-stats>
    </div>
    <div class="types">
      <div *ngFor="let type of pokemon?.types" class="type">
        {{ type.type.name }}
      </div>
    </div>
    <div class="abilities">
      <app-pokemon-abilities [pokemon]="pokemon"></app-pokemon-abilities>
    </div>
    <div class="evolutions">
      <div *ngFor="let evolution of pokemon?.evolutions" class="evolution">
        <h1 class="text-center">Evolutions</h1>
        {{ evolution.name }}
      </div>
    </div>
    <div class="navigation">
      <button (click)="previousPokemon()">Previous</button>
      <input type="number" [(ngModel)]="pokemonId" (change)="onPokemonIdChange()" />
      <button (click)="nextPokemon()">Next</button>
    </div>
  </div>
</div>
